<div class="container">
    <ion-list style="width: 90%; margin: auto; background-color: transparent">
        <ion-item style="background-color: transparent">
          <ion-label class="input-label"><ion-icon name="person" class="icon"></ion-icon></ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="input-label"><ion-icon name="unlock" class="icon"></ion-icon></ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
    </ion-list>
</div>